{% load staticfiles i18n menu set_var bootstrap3 %}
{% get_current_language as LANGUAGE_CODE %}
{% generate_menu %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{% block meta_keywords %}{% trans _("") %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% trans _("")%}{% endblock %}">
    <meta name="copyright" content="LINK srl, Via Udine 30 - Roma">
    <meta name="owner" content="LINK srl, Via Udine 30 - Roma">
    <meta name="author" content="LINK srl - Giovanni Toffoli, Mariarosaria Manco">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_meta %}{% endblock extra_meta %}

    <title>{% block head_title %}{% endblock %}{% if site_name %} | {{ site_name }}{% endif %}</title>
    <link rel="icon" href="{% static 'ltk/img/icon-rp.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'ltk/img/icon-rp.png' %}" type="image/png">
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if help %}
    <link rel="stylesheet" type="text/css" href="{% static 'ltk/tooltipster/css/tooltipster.bundle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ltk/tooltipster/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min.css' %}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'ltk/css/ltk.css' %}">

    {% block extra_style %}{% endblock extra_style %}
</head>

<body id="{% block body_id %}{% endblock body_id %}">
    
    {% block topbar_base %}
        <header class="pTBLR10">
            <div class="container">
                <div class="pull-left pull-left-width hidden-xs" style="vertical-align: middle;"><a href="/" title="Homepage"><img src="{% static 'ltk/img/logo_commons.png' %}" class="img-responsive" style="float: left" alt="{{ site_name }}"><span style="font-style:italic; font-size: x-large;"> - LTK</span></a></div>
            </div>
        </header>

            <div class="container">
                    <div>
                      {% block nav %}
                        {% with menu=menus.main %}<ul class="nav navbar-nav navbar-left ul-left">
                          {% for item in menu %}
                            <li class="{% if item.children %} dropdown{% endif %}" id="top-menu-{{ item.slug }}">
                            {% if item.children %}
                              <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">{% if item.icon %}<i class="icon-{{ item.icon }} icon-white"></i>&nbsp;{% endif %}{{ item.title }}&nbsp;<b class="caret"></b></a>
                              <ul class="dropdown-menu">
                                {% for child in item.children %}
                                  {% if child.selected %}
                                    <script type="text/javascript">
                                      $("#top-menu-"+"{{item.slug }}").addClass('active');
                                    </script>
                                  {% endif %}
                                  <li {% if child.selected %}class="active"{% endif %}><a href="{{ child.url }}">{{ classe }} {{ child.title }}</a></li>
                                {% endfor %}
                              </ul>
                            {% else %}
                              <a href="{{ item.url }}">{% if item.icon %}<i class="icon-{{ item.icon }} icon-white"></i>&nbsp;{% endif %}{{ item.title }}</a>
                            {% endif %}
                            </li>
                          {% endfor %}
                        </ul>{% endwith %}
                        <ul class="nav navbar-nav navbar-right ul-right" style="display:inline-block">
                          <li class="hidden-sm"><div class="navbar-search">
                            <form action="/i18n/setlang/" method="post">{% csrf_token %}
                              <input type="hidden" name="next" value="{{ path_no_language }}">
                              <select name="language" class="form-control font13 bc-demigray" style="padding:5px; height: 30px; color: black;" onchange='this.form.submit()'>
                              {% for code, language in LANGUAGES %}
                                <option value="{{ code }}" {% if code == LANGUAGE_CODE %}selected="selected"{% endif %}>{{ language }}</option>
                              {% endfor %}
                              </select>
                            </form>
                          </div></li>
                       </ul>
                      {% endblock nav %}
                    </div>
            </div>
    {% endblock topbar_base %}

    {% block content_base %}
        <div class="container-fluid">
            {% if user.is_authenticated %}
                <div class="row back-box">
                    <div class="hidden-xs col-sm-12 col-md-10 col-lg-10">
                        <div class="pTB12LR24 summary text-right">
                            <div class="eti">{% trans "user"|capfirst %}: <i>{{ user.first_name }} {{ user.last_name }}</i></div>
                            {% if user.is_staff %}
                            <div class="val"><a href="{% url "admin:index" %}">{% trans "Admin" %}</a></div>
                            {% endif %}
                            <div class="val"><a href="/accounts/profile/">{% trans "My profile" %}</a></div>
                        </div>
                    </div>
                    <div class="visible-xs-12 hidden-sm hidden-md hidden-lg">
                        <div class="pTB12LR24 summary text-left">
                            <div class="eti">{% trans "user"|capfirst %} <i>{{ user.first_name }} {{ user.last_name }}</i></div>
                            {% if user.is_staff %}
                            <div class="val"><a href="{% url "admin:index" %}">{% trans "Admin" %}</a></div>
                            {% endif %}
                            <div class="val"><a href="/accounts/profile/">{% trans "My profile" %}</a></div>
                            <div class="val"><a href="/my_resources/">{% trans "My resources" %}</a></div>
{% comment %}
                            <div class="val"><a href="{% url "account_logout" %}" title="{% trans "Logout" %}" >{% trans "Sign Out" %}</a></div>
{% endcomment %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row mB20">
                <div class="col-sm-12 col-md-10 col-lg-10">
                    {% block content %}
                    {% endblock content %}
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2">
                    {% block pub-content %}
                    {% endblock pub-content %}
                </div>
            </div>
        </div>
    {% endblock content_base %}
    
    {% block footer_base %}
        <div class="container-fluid fontSize13 pT10 pB20" style="background:#027FB3; color:#aaa"><a href="#" class="scrollup">Scroll</a>
            <div class="container">
                <div class="pull-left">&copy; {% now "Y" %} LINK SRL - P. IVA 02098911007 :: Via Udine 30 - 00161 Roma :: <a href="mailto:toffoli@linkroma.it" style="color:#ddd">toffoli@linkroma.it</a> - www.linkroma.it</div><div class="pull-right"><a href="/help/privacy" style="color:#ddd">PRIVACY</a></div>
            </div>
        </div>
    {% endblock footer_base %}
    
    {% block body_scripts_base %}
        {% bootstrap_javascript jquery=True %}
        <script type="text/javascript" src="{% static "ltk/js/cookiechoices.js" %}"></script>
        <script>
        document.addEventListener('DOMContentLoaded', function(event) {
        cookieChoices.showCookieConsentBar('{% trans "We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information you’ve provided to them or they’ve collected from your use of their services." %}', 'OK', '{% trans "learn more"|upper %}', '/help/privacy');
        });
        </script>

        {% block body_scripts %}{% endblock body_scripts %}
    {% endblock body_scripts_base %}

    {% block extra_body_base %}{% endblock extra_body_base %}
</body>
</html>
